<div class="divider">
  <div class="divider-text">Nome: {{ item.name }}</div>
</div>
<div class="divider">
  <div class="divider-text">Localidade: {{ item.address }}</div>
</div>

<div class="divider">
  <div class="divider-text">Contacto Telefónico: {{ item.phone }}</div>
</div>

<div class="divider">
  <div class="divider-text">Número de CC/BI: {{ item.cardNumber }}</div>
</div>

<div class="divider">
  <div class="divider-text">Data de Nascimento: {{ item.birthDay }}</div>
</div>

<div class="divider">
  <div class="divider-text">E-mail: {{ item.email }}</div>
</div>

<div class="divider">
  <div class="divider-text">Observações: {{ item.comments }}</div>
</div>
