<section class="ls s-py-90 s-py-xl-160" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 animate" data-animation="scaleAppear">
                <div class="hero-bg p-60">
                    <form class="contact-form c-mb-15 c-gutter-15" method="post" action="/">

                        <div class="row">

                            <div class="col-12">
                                <h4>{{ languageStoreService.Texts.section8.title }}</h4>
                            </div>

                            <div class="col-12">
                                <div class="form-group has-placeholder">
                                    <label for="name">{{ languageStoreService.Texts.section8.field1 }} <span class="required">*</span></label>
                                    <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="{{ languageStoreService.Texts.section8.field1 }}">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group has-placeholder">
                                    <label for="email">{{ languageStoreService.Texts.section8.field2 }}<span class="required">*</span></label>
                                    <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="{{ languageStoreService.Texts.section8.field2 }}">
                                </div>
                            </div>


                            <div class="col-12">

                                <div class="form-group has-placeholder">
                                    <label for="message">{{ languageStoreService.Texts.section8.field3 }}</label>
                                    <textarea aria-required="true" rows="5" cols="45" name="message" id="message" class="form-control" placeholder="{{ languageStoreService.Texts.section8.field3 }}"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-20 mt-xl-40">

                            <div class="col-sm-12">

                                <div class="form-group has-placeholder">
                                    <button type="submit" id="contact_form_submit" name="contact_submit" class="btn btn-maincolor">{{ languageStoreService.Texts.section8.btn }}
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="divider-60 divider-lg-0"></div>
            </div>
            <!--.col-* -->

            <div class="col-lg-4 animate" data-animation="scaleAppear">
                <div class="hero-bg p-60">

                    <h4>{{ languageStoreService.Texts.section8.title2 }}</h4>

                    <div class="media mb-20"  *ngFor="let item of languageStoreService.Texts.section8.values">
                        <div class="icon-styled color-main fs-20">
                            <i [ngClass]="item.icon"></i>
                        </div>

                        <div class="media-body">
                            <h6 class="mt-0">
                                {{item.title}}
                            </h6>
                            <p>
                                {{item.value}}
                            </p>
                        </div>
                    </div>

                    <div class="divider-30 divider-xl-50"></div>

                </div>
            </div>
        </div>
    </div>
</section>