
@import '../../../../assets/back-end/css/demo.css';
@import '../../../../assets/back-end/vendor/css/core.css';
@import '../../../../assets/back-end/vendor/css/theme-default.css';

   .fw-bold {
        font-weight: 500;
    line-height: 1.1;
    color: #566a7f;
    }
    .req{
        color: red;
      }
      