<div id="canvas">
    <div id="box_wrapper">
      <app-header></app-header>
      <app-banner></app-banner>
      <app-about></app-about>
      <app-benefits></app-benefits>
      <app-map></app-map>
      <app-services></app-services>
      <app-pricing></app-pricing>
      <app-equipment></app-equipment>
      <app-contact></app-contact>
      <app-gallery></app-gallery>
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#close" title="Close" class="modal-close">Close</a>
  
          <h5 style="margin-top:10px;margin-bottom: 50px;">Aulas/Alugar</h5>
          <div class="row">
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">Nome</p>
                <input
                  class="form-style"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">Número de CC/BI</p>
                <input
                  class="form-style"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">Data de Nascimento</p>
                <input
                  class="form-style"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">E-mail</p>
                <input
                  class="form-style"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">Contacto Telefónico</p>
                <input
                  class="form-style"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">Localidade</p>
                <input
                  class="form-style"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">Data da Aula ou Aluguer</p>
                <input
                  class="form-style"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">Horário da Aula ou Aluguer</p>
                <input
                  class="form-style"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="form-item">
                <p class="formLabel">Type</p>
                <input
                class="form-style"
              />
              </div>
            </div>
          </div>
            <div class="col-12">
              <div class="form-item">
                <p class="formLabel">Observações</p>
                <input
                  class="form-style"
                />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  