@import '../../../../assets/front-end/css/main.css';
@import '../../../../assets/front-end/css/shop.css';

.rate{
    margin-bottom:15px ;
}
.rate span{
    font-size:10px ;
}

.product-inner img {
    max-height: 213px;
    object-fit: cover;
    min-height: 213px;
}

.product-image{
    height: 361px;
    background-position: top -98px right 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

