<section class="page_slider slider-1" id="home">
  <div class="flexslider">
    <ul class="slides">
      <li
        class="ds cover-image text-center text-lg-left" style=" width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"
      >
        <img [src]="languageStoreService.Texts.banner.image" alt="img" />
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="intro_layers_wrapper">
                <div class="intro_layers">
                  <div class="intro_layer" data-animation="fadeInRight">
                    <div class="divider-90"></div>
                    <div class="d-inline-block">
                      <h3 class="intro_before_featured_word">
                        {{ languageStoreService.Texts.banner.text1 }}
                      </h3>
                      <h2 class="intro_featured_word">
                        {{ languageStoreService.Texts.banner.text2 }}
                      </h2>
                      <h6 class="intro_after_featured_word">
                        {{ languageStoreService.Texts.banner.text3 }}
                      </h6>
                    </div>
                  </div>
                  <div class="intro_layer" data-animation="fadeInUp">
                    <a
                      *ngIf="languageStoreService.Texts.banner.btn !== ''"
                      href="#open-modal"
                      class="btn btn-maincolor btn-slider btn-medium"
                      >{{ languageStoreService.Texts.banner.btn }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
