<div
  class="bs-toast toast toast-placement-ex m-2 fade"
  [ngClass]="[prop?.showResponse ? 'show' : '', prop?.isError ? 'bg-warnning' : 'bg-success']"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="2000"
  [style.top.%]="0" 
  [style.left.%]="prop?.left ?? 70"
>
  <div class="toast-header">
    <i class="bx bx-bell me-2"></i>
    <div class="me-auto fw-semibold">{{prop?.title}}</div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
  <div class="toast-body">{{prop?.text}}</div>
</div>