.item-content-wrap {
	min-height: 200px!important;
}
.item-media img {
    max-height: 213px;
    object-fit: cover;
    min-height: 213px;
}
.owl-item  {
    width: 100%!important;
}
.vertical-item {
    margin-right: 10px!important;
}