<!-- Section Price -->
<section id="mapSection" class="ls s-pb-90 s-pt-85 s-pb-xl-160 s-pt-xl-155">
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <p class="text-center color-darkgrey mb-1">
          <span class="line-left">{{
            languageStoreService.Texts.section6.title
          }}</span>
        </p>
        <h3 class="text-center mt-0 mb-2 special-heading color-darkgrey">
          <span>{{ languageStoreService.Texts.section6.subTitle }}</span>
        </h3>
        <div class="divider-60 divider-xl-60"></div>
      </div>
      <div class="col-lg-12 col-md-10">
        <div class="container">

          <div id="map" style="height:400px;width: 100%;"></div>

          <!-- <div class="map-container">
            <img
              src="../../../../assets/images_site/map.png"
            />
            <div
              *ngFor="
                let country of languageStoreService.Texts.section6.countries
              "
              [style.Top]="country.top"
              [style.Left]="country.left"
              class="point tippy"
              title="{{ country.title }}"
              style="
                  background: url('{{ country.image }}') no-repeat center/cover;
                "
            ></div>
          </div> -->
        </div>
        <div class="divider-60 divider-lg-0"></div>
      </div>
      
      <!-- <div class="col-lg-10 col-md-10 hidden-xl hidden-lg hidden-md ">
        <div class="container">
          <div class="map-container">
            <img
              src="../../../../assets/images_site/europe_map.png"
            />
            <div
              *ngFor="
                let country of languageStoreService.Texts.section6.countries
              "
              [style.Top]="country.top"
              [style.Left]="country.left"
              class="point tippy"
              title="{{ country.title }}"
              style="
                  background: url('{{ country.image }}') no-repeat center/cover;
                "
            ></div>
          </div>
        </div>
        <div class="divider-60 divider-lg-0"></div>
      </div> -->
    </div>
  </div>
  
</section>
<script>
   const map = new jsVectorMap({
      map: 'world', // 'canada', ...
      selector: '#map',
    });
</script>