@import '../../../../assets/front-end/css/main.css';
@import '../../../../assets/front-end/css/shop.css';
@import '../../../../assets/front-end/map/css/jsvectormap.css';


.map-container {
  font-family: space mono;
  padding: 3.2rem .8rem;
  position: relative;
  display: inline-block;
  img {
    width: 100%;
  }
  .point {
    cursor: crosshair;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transition: all .3s ease;
    will-change: transform, box-shadow;
    transform: translate(-50%, -50%);
    // background-image: url("../../../assets/images_site/flags/pt.png");
    // background-size: 30px 21px;
    // background-repeat: no-repeat;
    &:hover {
      z-index: 999;
      animation: none;
      transform:  translate(-50%, -50%) scale3D(1.35, 1.35 ,1);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
}

