<!-- Section Services -->
<section id="services" class="ls ms s-pt-90 s-pb-60 s-pt-xl-160 s-pb-xl-130">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-4 text-center text-md-left">
        <div class="divider-0 divider-lg-200 divider-xl-150"></div>
        <p class="text-center text-lg-left color-darkgrey mb-1">
          <span class="line-left">{{
            languageStoreService.Texts.section3.title
          }}</span>
        </p>
        <h3
          class="text-center text-lg-left mt-0 mb-2 special-heading color-darkgrey"
        >
          <span
            >{{ languageStoreService.Texts.section3.subTitle1 }} <br />{{
              languageStoreService.Texts.section3.subTitle2
            }}</span
          >
        </h3>
        <p class="text-center text-lg-left color-darkgrey fs-20 fw-500">
          <span
            >{{ languageStoreService.Texts.section3.text1 }} <br />{{
              languageStoreService.Texts.section3.text2
            }}
          </span>
        </p>
        <div class="owl-custom-nav hidden-below-lg">
          <a href="#" class="owl-prev" (click)="owlCar.prev()"
            ><i class="fa fa-chevron-left"></i
          ></a>
          <a href="#" class="owl-next" (click)="owlCar.next()"
            ><i class="fa fa-chevron-right"></i
          ></a>
        </div>
        <div class="divider-30 divider-xl-40"></div>
      </div>
      <div class="col-lg-6 col-xl-8">
        <owl-carousel-o [options]="owlOptions" #owlCar>
          <ng-container
            *ngFor="let service of languageStoreService.Texts.section3.services"
          >
            <ng-template carouselSlide>
              <div class="vertical-item service-layout-1 ls">
                <div class="item-media">
                  <img [src]="service.image" alt="img" />
                  <div class="media-links"></div>
                </div>
                <div class="item-content">
                  <div class="item-content-wrap">
                    <span class="cat-links">
                      <span class="screen-reader-text">{{
                        service.title
                      }}</span>
                      <span class="category"> {{ service.title }} </span>
                    </span>
                    <h5 class="mt-1">
                      <span>{{ service.subTitle }} </span>
                    </h5>
                    <p>{{ service.text }}</p>
                  </div>
                  <a href="#open-modal" class="btn-booking">{{
                    service.btn
                  }}</a>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>


