
@import '../../../../assets/front-end/css/main.css';
@import '../../../../assets/front-end/css/shop.css';

.modal-window {
  overflow-y: auto;
    position: fixed;
    background-color:rgb(0 0 0 / 25%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      z-index: 9999;
    }
    & > div {
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: white;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
  
  /* Demo Styles */
 
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .modal-window {
    & > div {
      border-radius: 1rem;
    }
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  .logo {
    max-width: 150px;
    display: block;
  }
  
  small {
    color: lightgray;
  }
  
  .btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    text-decoration: none;
    i {
      padding-right: 0.3em;
    }
  }
  
  div.form-item{position: relative; display: block; margin-bottom: 20px;}
 input{transition: all .2s ease;}
 input.form-style{
	color:#8a8a8a;
	display: block;
	width: 90%;
	height: 44px;
	padding: 5px 5%;
	border:1px solid #ccc;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	border-radius: 27px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	font-family:'HelveticaNeue','Arial', sans-serif;
	font-size: 105%;
	letter-spacing: .8px;
}
div.form-item .form-style:focus{outline: none; border:1px solid #8a8a8a; color:#8a8a8a; }
div.form-item p.formLabel {
	left:26px;
	top:10px;
	transition:all .4s ease;
	color:#bbb;}
.formTop{top:-22px !important; left:26px; background-color: #fff; padding:0 5px; font-size: 14px; color:#8a8a8a !important;}
.formStatus{color:#8a8a8a !important;}
input[type="submit"].login{
	float:right;
	width: 112px;
	height: 37px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #8a8a8a;
	border:1px solid #8a8a8a;
	border:none;
	color: #fff;
	font-weight: bold;
}
input[type="submit"].login:hover{background-color: #fff; border:1px solid #8a8a8a; color:#8a8a8a; cursor:pointer;}
input[type="submit"].login:focus{outline: none;}

.selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
  border:1px solid #cccccc;
  width:90%;
}
.selectBox{
  width:100%;
  height:40px;
  border:0px;
  outline:none;
  padding-right: 0%;
}

.req{
  color: red;
}

.flex-direction-nav{
  display: none;
}

select{
  background-color: white;
    -webkit-appearance: media-slider;
    -moz-appearance: none;
    appearance: auto;
    border-radius: 0;
    padding-right: 200px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.my-float{
	margin-top:16px;
}

input[type="date"]
{
  min-width: 90%;
    display:block !important;
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    min-height: 1.2em !important;
}