<div id="canvas">
  <div id="box_wrapper">
    <app-header></app-header>
    <app-banner></app-banner>
    <app-about></app-about>
    <app-benefits></app-benefits>
    <app-map></app-map>
    <app-services></app-services>
    <app-pricing></app-pricing>
    <app-equipment></app-equipment>
    <app-contact></app-contact>
    <app-gallery></app-gallery>
    <div id="open-modal" class="modal-window">
      <div class="t-100 t-xl-50">
        <a href="#close" title="Close" class="modal-close">{{
          languageStoreService.Texts.section9.closeBtn
        }}</a>

        <h5 style="margin-top: 10px; margin-bottom: 50px">
          {{ languageStoreService.Texts.section9.title }}
        </h5>
        <form [formGroup]="angForm" (ngSubmit)="onClickSubmit(angForm.value)">
          <div class="row">
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field1 }}
                  <span
                    [ngClass]="[
                      angForm.controls?.['name']?.status == 'INVALID' || (
                      angForm.controls['name'].invalid &&
                      (angForm.controls['name'].dirty ||
                        angForm.controls['name'].touched))
                        ? 'req'
                        : ''
                    ]"
                    >*</span
                  >
                </p>
                <input class="form-style" formControlName="name" />
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field2 }}
                  <span
                    [ngClass]="[
                    angForm.controls?.['cardNumber']?.status == 'INVALID' || (
                      angForm.controls['cardNumber'].invalid &&
                      (angForm.controls['cardNumber'].dirty ||
                        angForm.controls['cardNumber'].touched))
                        ? 'req'
                        : ''
                    ]"
                    >*</span
                  >
                </p>
                <input class="form-style" formControlName="cardNumber" />
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field3 }}
                  <span
                    [ngClass]="[
                    angForm.controls?.['birthDay']?.status == 'INVALID' || (
                      angForm.controls['birthDay'].invalid &&
                      (angForm.controls['birthDay'].dirty ||
                        angForm.controls['birthDay'].touched))
                        ? 'req'
                        : ''
                    ]"
                    >*</span
                  >
                </p>
                <input
                  class="form-style"
                  type="date"
                  formControlName="birthDay"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field4 }}
                  <span
                    [ngClass]="[
                    angForm.controls?.['email']?.status == 'INVALID' || (
                      angForm.controls['email'].invalid &&
                      (angForm.controls['email'].dirty ||
                        angForm.controls['email'].touched))
                        ? 'req'
                        : ''
                    ]"
                    >*</span
                  >
                </p>
                <input class="form-style" formControlName="email" />
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field5 }}
                  <span
                    [ngClass]="[
                    angForm.controls?.['phone']?.status == 'INVALID' || (
                      angForm.controls['phone'].invalid &&
                      (angForm.controls['phone'].dirty ||
                        angForm.controls['phone'].touched))
                        ? 'req'
                        : ''
                    ]"
                    >*</span
                  >
                </p>
                <input class="form-style" formControlName="phone" />
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field6 }}
                </p>
                <input class="form-style" formControlName="address" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field7 }}
                  <span
                    [ngClass]="[
                    angForm.controls?.['classDate']?.status == 'INVALID' || (
                      angForm.controls['classDate'].invalid &&
                      (angForm.controls['classDate'].dirty ||
                        angForm.controls['classDate'].touched))
                        ? 'req'
                        : ''
                    ]"
                    >*</span
                  >
                </p>
                <input
                  class="form-style"
                  type="date"
                  formControlName="classDate"
                  min="{{ minDate }}"
                />
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field8 }}
                  <span
                    [ngClass]="[
                    angForm.controls?.['type']?.status == 'INVALID' || (
                      angForm.controls['type'].invalid &&
                      (angForm.controls['type'].dirty ||
                        angForm.controls['type'].touched))
                        ? 'req'
                        : ''
                    ]"
                    >*</span
                  >
                </p>
                <div class="selectWrapper">
                  <select class="selectBox" formControlName="type">
                    <optgroup
                      *ngFor="
                        let type of languageStoreService.Texts.section9.types
                      "
                      label="{{ type.type }}"
                    >
                      <option
                        *ngFor="let value of type.values"
                        [value]="convertJSON(value)"
                      >
                        {{ value.type }}
                      </option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field9 }} *
                </p>
                <div class="row" style="padding-top: 9px">
                  <div class="col-6">
                    <input
                      type="radio"
                      id="morning"
                      name="type"
                      value="morning"
                      checked
                      (change)="changeTime($event)"
                    />
                    <label style="color: #8a8a8a" for="morning">{{
                      languageStoreService.Texts.section9.time.morning
                    }}</label>
                  </div>
                  <div class="col-6" style="text-align: left">
                    <input
                      type="radio"
                      id="afternoon"
                      name="type"
                      value="afternoon"
                      (change)="changeTime($event)"
                    />
                    <label style="color: #8a8a8a" for="afternoon">{{
                      languageStoreService.Texts.section9.time.afternoon
                    }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-item">
                <p class="formLabel">
                  {{ languageStoreService.Texts.section9.field10 }}
                </p>
                <input class="form-style" formControlName="comments" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button
                type="submit"
                class="btn btn-maincolor btn-slider btn-medium"
                [disabled]="isBtnDisabled"
              >
                {{ languageStoreService.Texts.section9.btn }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      class="col-md-6 col-xl-4"
      [style]="
        showResponse == false
          ? 'display: none;position: fixed;top: 25%;left: 33%;z-index: 9999'
          : 'position: fixed;top: 25%;left: 33%;z-index: 9999'
      "
    >
      <div
        class="card text-white mb-3"
        [class]="isError ? 'bg-danger' : 'bg-success'"
      >
        <div class="card-body">
          <h5 class="card-title text-white">
            {{
              isError
                ? languageStoreService.Texts.config.error.title
                : languageStoreService.Texts.config.success.title
            }}
          </h5>
          <p class="card-text">
            {{
              isError
                ? languageStoreService.Texts.config.error.text
                : languageStoreService.Texts.config.success.text
            }}
          </p>
        </div>
      </div>
    </div>
    <div>
      <div style="" class="" id="">
        <div class="whatsapp-main">
          <div
            type="floating"
            class="whatsapp-wrapper hide-whatsapp"
            style="width: 360px"
          >
            <div
              color="rgb(29, 33, 41)"
              role="button"
              tabindex="0"
              class="close_whatsapp"
            ></div>
            <div class="whatsapp-header">
              <div size="52" class="support-avatar">
                <div class="avatar-wrapper">
                  <div class="avatar-img" style='background: url("{{ languageStoreService.Texts.navbar.logo }}")'></div>
                </div>
              </div>
              <div class="header-info">
                <div class="whatsapp-name">Apúlia Surf School</div>
                <div class="whatsapp-reply-time">
                  Usually replies in a few hours
                </div>
              </div>
            </div>
            <div class="whatsapp-background">
              <div class="whatsapp-message-container">
                <div class="loading-animation">
                  <div class="dot-pulse"></div>
                </div>
                <div class="whatsapp-message-wrapper">
                  <div class="chat-body-wrapper">
                    <div class="whatsapp-chat-name">Apúlia Surf School</div>
                    <div class="whatsapp-chat-message">
                      <p>Hey there 👋</p>
                      <br />
                      <p>
                        How can we help? 🤓
                      </p>
                    </div>
                    <div class="whatsapp-chat-time">20:49</div>
                  </div>
                </div>
              </div>
            </div>
            <a
              role="button"
              href="https://api.whatsapp.com/send?phone=2349999999999"
              title="WhatsApp"
              class="whatsapp-btn"
            >
              <svg
                class="whatsapp-send-icon-small"
                xmlns="http://www.w3.org/2000/svg"
                version="1"
                height="20"
                viewBox="0 0 90 90"
              >
                <path
                  d="M90 44a44 44 0 0 1-66 38L0 90l8-24A44 44 0 0 1 46 0c24 0 44 20 44 44zM46 7C25 7 9 24 9 44c0 8 2 15 7 21l-5 14 14-4a37 37 0 0 0 58-31C83 24 66 7 46 7zm22 47l-2-1-7-4-3 1-3 4h-3c-1 0-4-1-8-5-3-3-6-6-6-8v-2l2-2 1-1v-2l-4-8c0-2-1-2-2-2h-2l-3 1c-1 1-4 4-4 9s4 11 5 11c0 1 7 12 18 16 11 5 11 3 13 3s7-2 7-5l1-5z"
                  fill="#FFF"
                />
              </svg>
              <span class="chat-button-text">Start Chat</span>
            </a>
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            ></div>
          </div>
          <div class="whatsapp-popup-button" id="whatsapp-popup">
            <div class="whatsapp-notify"></div>
            <div class="whatsapp-button-main">
              <svg
                class="whatsapp-send-icon-big"
                xmlns="http://www.w3.org/2000/svg"
                version="1"
                width="32"
                height="32"
                viewBox="0 0 90 90"
              >
                <path
                  d="M90 44a44 44 0 0 1-66 38L0 90l8-24A44 44 0 0 1 46 0c24 0 44 20 44 44zM46 7C25 7 9 24 9 44c0 8 2 15 7 21l-5 14 14-4a37 37 0 0 0 58-31C83 24 66 7 46 7zm22 47l-2-1-7-4-3 1-3 4h-3c-1 0-4-1-8-5-3-3-6-6-6-8v-2l2-2 1-1v-2l-4-8c0-2-1-2-2-2h-2l-3 1c-1 1-4 4-4 9s4 11 5 11c0 1 7 12 18 16 11 5 11 3 13 3s7-2 7-5l1-5z"
                  fill="#FFF"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
